.image-class {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 200px;
    object-fit: cover;
    object-position: center;
  }
  .location {
    display:flex;
    flex-direction: row;
    .icon {
      width: 30px;
      object-fit: cover;
      object-position: center;
      margin-inline: 5px;
    }
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
    &:hover {
      background-color: green;
      cursor: pointer;
    }
  }
}

.clicked {
  border: rgb(random($limit: 255),random($limit: 255),random($limit: 255)) 2px solid;
}
