.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 80%;
    object-fit: cover;
    object-position: center;
  }
}

.landing-links {
  width: 100%;
  text-align: center;
}
