<div class="landing-block">
  <img src="./assets/space.jpg" alt="Snapface logo">
  <div class="landing-links">
    <button (click)="onClick()">Continuer vers Images List >></button>
  </div>
</div>

<form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
    <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
    <input type="email" id="emailInput" name="userEmail" [(ngModel)]="userEmail">
    <button type="submit">OK!</button>
</form>
