<header>
  <h1>Images list</h1>
  <nav>
    <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/images" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Images</a>
    <a routerLink="/images/add" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Add Image</a>
    <a routerLink="/observable" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Test Observable</a>
    <a routerLink="/train_obs" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Train Observable</a>
    <a routerLink="/auth/login" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Login</a>
  </nav>
</header>
